<rcc-navigation></rcc-navigation>
<br/>

<h1 class="section-title">View Survey</h1>

<div class="container">
  <mat-card class="survey-title">
    You have <strong>3</strong> surveys that need to be acknowledged.
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="survey">
        <mat-checkbox>
          <a href="#">Current Onboarding Process</a>
        </mat-checkbox>
        <p class="completed">Completed: No</p>
      </div>
      <div class="survey">
        <mat-checkbox>
          <a href="#">Alert Preferences Survey</a>
        </mat-checkbox>
        <p class="completed">Completed: 10/03/17</p>
      </div>
      <div class="survey">
        <mat-checkbox>
          <a href="#">CEO Luncheon Availability</a>
        </mat-checkbox>
        <p class="completed">Completed: 05/14/16</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
