.edit-survey-dialog .input-fullwidth {
  width: 100%;
}

.edit-survey-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-dialog-actions.dialog-actions button {
  margin-right: 10px;
}

.small-text {
  margin-top: 5px;
  font-size: 0.7em;
}
