.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; 
}

.container > * {
  margin: 0 auto;
  width: 80%;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#form-box {
  // padding: 30px;
  // border: 1px dotted black;
  margin-bottom: 50px;
  font-family: Helvetica;
  font-size: 10pt;
  font-weight: 400;
}

#form-box > * {
  width: 100%;
}

#password-criteria-p {
  margin-bottom: 0;
}

#password-criteria-list {
  margin: 0;
  padding: 0 0 10px 30px;
  font-size: 8pt;
}


