<h1>User Registration</h1>

<div class="container">
  <form (ngSubmit)="register()" #registrationForm="ngForm">
    <div id="form-box">
      <mat-form-field>
        <div ngIf="isTrue">
          <p>Error</p>
        </div>
        <input matInput rccValidate validateField="name" placeholder="First Name" name="fName" [(ngModel)]="registrant.fName">
      </mat-form-field>

      <mat-form-field>
        <input matInput rccValidate validateField="name" placeholder="Last Name" name="lName" [(ngModel)]="registrant.lName">
      </mat-form-field>

      <mat-form-field>
        <input matInput rccValidate validateField="email" placeholder="Email" name="email" [(ngModel)]="registrant.email" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput rccValidate validateField="phoneNumber" placeholder="Phone Number" name="phoneNum" [(ngModel)]="registrant.phoneNum" required>
      </mat-form-field>

      <mat-form-field>
        <mat-select rccValidate validateField="dropdown" placeholder="Department" name="department" [(ngModel)]="registrant.department" required>
          <mat-option *ngFor="let dept of departments" [value]="dept">{{dept}}</mat-option>
        </mat-select>
      </mat-form-field>

      <p id="password-criteria-p">Your password must contain at least 8 characters.</p>
      <ul id="password-criteria-list">
          <li>1 uppercase</li>
          <li>1 lowercase</li>
          <li>1 numeric</li>
          <li>1 special character</li>
        </ul>
      <mat-form-field>
        <input matInput rccValidate validateField="password" type="password" placeholder="Password" name="password" [(ngModel)]="registrant.password" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput rccValidate validateField="password" type="password" placeholder="Re-enter Password" name="pwdValidation" [(ngModel)]="pwdValidation" required>
      </mat-form-field>
    </div>
    <div id="buttons-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.form.valid">Register</button>
      <br />
      <a color="primary" routerLink="/login">Back to Login</a>
    </div>
  </form>
</div>
