.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-42 { font-size: 42px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

#dialog-header {
    padding: 0 !important;
    top: 0;
    display: flex;
    background: red;
}
h2 {
    padding: 0;
    margin: 0;
    display: inline;
    color: white;
    margin-right: 5px;
}

.mat-typography {
    margin-top: 10px;
}

// .mat-dialog-container {
//     padding: 0 !important;
// }

