<rcc-navigation></rcc-navigation>
<br/>

<h1 class="section-title">View Policy</h1>

<div class="container">
  <mat-card class="policy-title">
    You have <strong>2</strong> policies that need to be acknowledged.
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="policy">
        <mat-checkbox>
          <a href="#">Food Preparation Changes</a>
        </mat-checkbox>
        <p class="completed">Completed: No</p>
      </div>
      <div class="policy">
        <mat-checkbox>
          <a href="#">We've Updated our Privacy Policy</a>
        </mat-checkbox>
        <p class="completed">Completed: 02/27/18</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
