#checkbox-group > * {
    margin: 0 5px;
}

#alert-form {
    min-width: 150px;
    max-width: 1200px;
    width: 100%;
  }

  #alert-message-textarea {
    width: 100%;
    height: 500px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }

  @media only screen and (min-width: 992px) {
    button {
      width: auto;
    }
  }