<h1 class="section-title">Employee Login</h1>

<form (ngSubmit)="sendEmailForPasswordReset()" #loginForm="ngForm">
<div class="container">
  <div id="form-box">
    <mat-form-field>
      <input matInput placeholder="Email Address" name="email" [(ngModel)]="email" required>
    </mat-form-field>
    <!-- <div class="error" *ngIf="!emailValid">Email is Invalid</div> -->

    <!-- <div [hidden]='hideInvalidMsg' id='invalidCreds'>
      Invalid credentials. Please try again
    </div> -->
  </div>

  <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.form.valid">Request New Password</button>
  <a href="/login">Back to Login</a>
</div>
</form>
