<rcc-navigation></rcc-navigation>
<br/>

<h1 class="section-title">Home</h1>

<div class="container">
  <div class="notifications">
    <mat-card>
      <mat-card-title>Reminders</mat-card-title>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <span>You have <strong class="">3</strong> policies that need to be acknowledged.</span>
            </mat-expansion-panel-header>
            <ul>
              <a href="/view-policy/">
                <li>There was an update to the Privacy Policy</li>
                <li>There was a change that affects parking</li>
                <li>There was an update to the Privacy Policy</li>
              </a>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <span>You have <strong class="">2</strong> surveys that need to be acknowledged.</span>
            </mat-expansion-panel-header>
            <ul>
              <a href="/view-survey/">
                <li>Employee satisfaction survey</li>
                <li>Where to get lunch survey</li>
              </a>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length">
          Upload with ng-2 file uploader
    </button>
  </div>
</div>
