.policy-header {
  font-size: 1.5em;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}
mat-card {
  padding-left: 50px;
  padding-right: 50px;
}
.policy .mat-checkbox {
  font-size: 1.5em;
  text-decoration: underline;
}
.policy .completed {
  text-align: right;
  font-style: italic;
}
.unackPolicy {
  margin-bottom: 24px;
}
.completed {
  margin-bottom: 0;
}
.ackBtn {
  float: right;
}
.ackPolicyTitle {
  margin-top: 48px;
}
.policy-description {
  margin-bottom: 0;
}
.panel-half {
  display: inline-block;
  width: 50%;
  margin: 0;
}
.panel-half button {
  margin-left: 10px;
  margin-top: 10px;
}
