.policy-title {
  font-size: 1.5em;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}
mat-card {
  padding-left: 50px;
  padding-right: 50px;
}
.policy .mat-checkbox {
  font-size: 1.5em;
  text-decoration: underline;
}
.policy .completed {
  text-align: right;
  font-style: italic;
}
.unackPolicy {
  margin-bottom: 40px;
}
.completed {
  margin-bottom: 0;
}
.ackBtn {
  float: right;
}
.ackPolicyTitle {
  margin-top: 48px;
}
